* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-era {
  background-color: rgb(225, 228, 235);
}

.navbar {
  background-color: rgb(225, 228, 235);
  padding: 0px 30px;
}
.navbar-brand h1 {
  font-family: "Lora", serif;
  color: #3cb815;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 15px;
}
.fa-magnifying-glass,
.fa-user,
.fa-bag-shopping {
  color: #555;
  background-color: #fff;
  padding: 7px 7px;
  border-radius: 50px;
  margin: 0px 10px;
}
.nav-item {
  padding: 20px 13px;
}
.nav-link {
  color: #555;
  font-weight: 500;
}
.crousel-content {
  text-align: left;
}
.crousel-content h1 {
  font-family: "Lora", serif;
  font-size: 5.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  max-width: 690px;
  margin-left: -70px;
}

.btn-theme-product {
  background-color: #3cb815;
  color: #fff;
  border: transparent;
  margin-bottom: 200px;
  margin-left: -70px;
  padding: 10px 50px;
  border-radius: 50px;
  font-weight: bold;
}

.btn-theme-product:hover {
  background-color: #2d960d;
  transition: 1s;
  cursor: pointer;
}
.btn-theme-services {
  background-color: #f65005;
  color: #fff;
  border: transparent;
  margin-bottom: 200px;
  margin-left: -70px;
  padding: 10px 50px;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 20px;
}
.btn-theme-services:hover {
  background-color: #b33d06;
  transition: 1s;
  cursor: pointer;
}
.carousel-control-prev-icon {
  background-color: #b33d06;
  border-radius: 50px;
  color: #fff;
  padding: 5px 5px;
}
.carousel-control-next-icon {
  background-color: #b33d06;
  border-radius: 50px;
  color: #fff;
  padding: 5px 5px;
}
.about {
  margin-top: 150px;
  margin-bottom: 100px;
}
.about img {
  width: 100%;
}
.about h1 {
  font-family: "Lora", serif;
  font-size: 47px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  max-width: 451px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.about p {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: normal;
  color: #555;
  max-width: 451px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.fa-check {
  color: #2d960d;
  font-size: 18px;
  font-weight: bold;
}
.about h2 {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: normal;
  color: #555;
  max-width: 451px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn-theme-read-more {
  background-color: #3cb815;
  color: #fff;
  border: transparent;
  padding: 20px 50px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 20px;
}
.bg-icon {
  background-image: url(bg-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}
.heading-title h1 {
  font-family: "Lora", serif;
  font-size: 47px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 50px;
  margin-bottom: 20px;
}
.heading-title p {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: normal;
  color: #555;
  max-width: 451px;
  margin: auto;
  margin-bottom: 40px;
}

.bg-whitee {
  background-color: #f4f4f4;
  margin: 10px 0px;
  border: 1px solid #2d960d;
  padding-right: 0;
}
.mg {
  margin: 10px 0px;
}
.bg-whitee img {
  width: 100px;
  margin-top: 40px;
}
.bg-whitee h1 {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 20px;
}
.bg-whitee p {
  font-family: "Lora", serif;
  font-size: 15px;
  color: #555;
  margin-top: 20px;
  max-width: 300px;
  margin: auto;
}
.btn-theme-read-more-2 {
  background-color: transparent;
  color: #3cb815;
  border: 2px solid #3cb815;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}
.text-start h1 {
  font-family: "Lora", serif;
  font-size: 47px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: start;
}
.text-start p {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: normal;
  color: #555;
  max-width: 451px;
  margin-bottom: 40px;
  text-align: start;
}
.btn-theme-vegetable {
  background-color: #3cb815;
  color: #fff;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 100px;
}
.btn-theme-Fruits,
.btn-theme-Fresh {
  background-color: #3cb815;
  color: #000000;
  background-color: transparent;
  border: 2px solid #3cb815;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 22px;
  margin-bottom: 6px;
}
.btn-theme-Fruits:hover {
  background-color: #3cb815;
  cursor: pointer;
  color: #fff;
  transition: 1s;
}
.btn-theme-Fresh:hover {
  background-color: #3cb815;
  cursor: pointer;
  color: #fff;
  transition: 1s;
}
.item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 40px;
}
.item img {
  width: 100%;
  padding: 0px 25px;
  margin: 20px 0px;
}

.g-0 {
  margin: 10px 107px;
}
.item h1 {
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.item h2 {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: normal;
  color: #3cb815;
  margin: auto;
  padding-bottom: 20px;
}
.item h3 {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: normal;
  color: #555;
  margin-left: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.fa-eye,
.fa-cart-shopping {
  color: #3cb815;
}
hr {
  width: 90%;
  margin: auto;
}
.Browse-More-Product{
    background-color: #3cb815;
  color: #fff;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 40px;
  margin-bottom: 100px;
  border-radius: 50px;
}
.Browse-More-Product:hover{
    background-color: #2e900f;
    color: #fff;
    transition: 1s;
    cursor: pointer;
}
.body-bg{
    background-color: #3CB815;
    padding: 50px 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.Visit h1{
    font-family: "Lora", serif;
    font-size: 47px;
    font-weight: bold;
    color: #fff;
    margin: 20px 60px;
}
.Visit p{
    font-family: "Lora", serif;
  font-size: 15px;
  color: #fff;
  margin: 30px 60px;
  max-width: 588px;
}
.btn-theme-visit{
    background-color: #F65005;
    color: #fff;
    border: transparent;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 50px;
    margin-top: 100px;
}
.btn-theme-visit:hover{
    background-color: #c04106;
    cursor: pointer;
    transition: 1s;
}
@keyframes background-color {
    0% {
        background: linear-gradient(to bottom, #000428, #004683);
    }

    25% {
        background: linear-gradient(135deg, #1a4223, #5ee95e);
    }

    50% {
        background: linear-gradient(to bottom, #421a31, #e95ed2);
    }

    100% {
        background: linear-gradient(-135deg, #fae37d, #881da8, #20668f);
    }

}

.container {
    margin-top: 80px;
}

.container .col-lg-4 {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .face {
    position: absolute;
    font-family: "Lora", serif;
     font-weight: bold;
    color: #000000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /* border-right: 1px solid #999;
border-bottom: 1px solid #999; */
}

.card .face.front-face,
.card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card .face.front-face .name {
    letter-spacing: 2px;
}

.card .face.front-face .designation {
    font-size: 0.8rem;
    color: #000000;
    letter-spacing: 0.8px;
}

.card:hover .face.front-face {
    transform: rotateY(180deg);
}

.card .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem;
}

.card:hover .face.back-face {
    transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.blog-item{
    background-color: #F7F8FC ;
    margin: 10px 0px;
    padding-left: 0;
    padding-right: 0;
}
.blog img{
width: 100%;
}
.blog-item h1{
    font-family: "Lora", serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 30px 20px;
}
.blog-item h2{
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: normal;
    color:#555;
    margin: 30px 30px;
    
}
.fa-calendar{
    color: #3cb815;
}
footer{
    background-color: #000000;
    padding: 30px 0px;
    color: #999999;
    font-family: "Lora", serif;
}
footer h1{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}
footer p{
    font-weight: bold;
}
.fa-twitter, .fa-facebook-f, .fa-youtube, .fa-linkedin-in{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 8px 9px;
    margin: 6px;
}
footer h3{
    font-size: 16px;
    line-height: 2;
}
footer li {
    list-style: none;
}
footer li a{
text-decoration: none;
color: #999999;
line-height: 1.9;
}
footer li a:hover{
    color: #fff;
    cursor: pointer;
    transition: 1;
}
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: transparent;
    border: 1px solid #999999;
  }
  ::placeholder{
    color: #999999;
  }
  .copy{
    padding: 0px 100px;
  }